* {
    margin: 0;
    padding: 0;
}

body {
}

header {
    width: 100%;
    height: 100px;
    background-color: grey;
}
header h1 {
    color: darkblue;
}

h1::before {
    content: 'title h1 - '
}
h1::selection {
    color: #FFFFFF;
    background-color: #001776;
}

header p {
    color: darkblue;
}
main {

    box-sizing: border-box;
    width: 90%;
    margin: 5%;
    padding: 20px;
    border: 10px solid rgba(50,50,50,.3);
    min-height: 300px;
    background: url(images/bg_main.jpg) no-repeat center;
    background-origin: border-box;
    background-size: cover;
}

.anotherP {
    clear: left;

}
.floatDiv {
    padding: 10px;
    float: left;
    width: 100px;
    height: 100px;
    background-color: bisque;
}
.floatH1 {
    padding: 10px;
    /* float: left; */
    /* clear: left; */
}


footer {
    width: 100%;
    height: 100px;
    background-image: url(images/grass.jpg);
    background-color: orange;
    background-blend-mode: screen;
}
